<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Encuentra tu idea o proyecto soñado y empieza tu Emprendimiento</h2>
                <hr class="light">
                <p class="text-faded">Busca las ideas y proyectos que más te gusten</p>
                <%= link_to 'REGISTRARSE',  new_user_registration_path, class: 'nav-link btn btn-default btn-xl page-scroll'%>
            </div>
        </div>
    </div>
</section>
