<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Empieza ya creando tus propias ideas!</h2>
            <%= link_to 'Regístrate acá',  new_user_registration_path, class:'btn btn-default btn-xl wow tada'%>
        </div>
    </div>
</aside>
