<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>EMPRENDATING</h1>
            <h1>La innovación para todos</h1>
            <hr>
            <p>Todos pueden emprender, sólo basta tener una idea y las ganas. Aquí las puedes encontrar</p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">SIGN UP</a> -->
            <%= link_to 'REGISTRARSE',  new_user_registration_path, class: 'nav-link btn btn-primary btn-xl page-scroll'%>
            <%= link_to 'INICAR SESIÓN',  new_user_session_path, class: 'nav-link btn btn-primary btn-xl page-scroll'%>

        </div>
    </div>
</header>
